<!DOCTYPE HTML>
<html>

<head>

<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<script src="js/aframe.min.js"></script>
<script src="js/aframe-ar.js"></script>
<!-- support 3D text -->
<script src="js/aframe-text-geometry-component.min.js"></script>

</head>

<body style="background: #888888; margin: 0px; overflow: hidden;">


<script>

AFRAME.registerComponent("registerevents", {
    init: function () 
    {

        this.firstDetection = false;
        this.markerVisible = false;
        this.marker = this.el;
        this.link = document.querySelector("#words");
        
        this.link.object3D.visible = false;

        let self = this;

        this.marker.addEventListener('markerFound', function() {
            self.markerVisible = true;
        });

        this.marker.addEventListener('markerLost', function() {
            self.markerVisible = false;
        });
          
    },

    openInNewTab: function (url) {
        var win = window.open(url, "_blank");

        if (link.markerVisible == false && !this.firstDetection )
        {
            console.log(link);
            this.link.openInNewTab("victoria-grinthal.webnode.com");            
        };
    });

</script>
    <a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false;">
           <a-assets>
    <img id="Bitmoji" src="includes/Bitmoji.png">
</a-assets>
    <a-marker type = "pattern" url = "data/PantherMarker.patt" id = "PantherMarker">
         <a-sphere scale=".75 .75 .75" position="0 0 0" rotation= "0 -110 90" material="src: #Bitmoji" animation="property: rotation; to: -360 -110 90; loop: true; dur: 10000"></a-sphere>
         <a-entity id="words" 
            text-geometry="value: Hover to link to my portfolio!;"
            scale=".5 .5 .5;"
            material="color: yellow;"rotation="-90 90 -90;" position=" -3 -1 -2">
        </a-entity>
        </a-marker>

     <a-entity camera></a-entity>
    </a-scene>

</body>
</html>