@font-face {
	font-family: 'arial';
}


@font-face {
    font-family: 'beth_ellen_2regular';
    src: url('beth-ellen-2.0-webfont.woff2') format('woff2'),
         url('beth-ellen-2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

